
.repositories{
   position: relative;
   margin-left: 85px;
   min-height: 630px;
}

.repositories__title{
   margin-left: 2px;
   margin-bottom: 5px;
   font-weight: 600;
   font-size: 32px;
   line-height: 42px;
}

@media (max-width: 950px) {
   .repositories{
      width: calc(300px + (400 - 300) * ((100vw - 320px) / (950 - 320)));;
      margin: 40px auto 0px;
   }
   .repositories__title{
      text-align: center;
   }
}
