.repositories-item{
   margin-top: 24px;
   padding: 24px 32px;
   width: 100%;
}

.repositories-item__title{
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #0064EB;
}

.repositories-item__description{
   width: 777px;
   min-height: 19px;
   margin-top: 16px;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
}

@media (max-width: 1340px) {
   .repositories-item{
      width: calc(440px + (840 - 440) * ((100vw - 950px) / (1920 - 950)));
   }
   .repositories-item__description {
      width: calc(440px + (777 - 350) * ((100vw - 950px) / (1920 - 950)));
   }
}

@media (max-width: 950px) {
   .repositories-item{
      width: calc(300px + (400 - 300) * ((100vw - 320px) / (950 - 320)));
   }
   .repositories-item__description {
      width: calc(220px + (320 - 220) * ((100vw - 320px) / (950 - 320)));
   }
}
