.container-paginate{
   position: absolute;
   bottom: 0;
   right: 0;
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   align-items: center;
   color: #808080;
}

@media (max-width: 400px) {
   .container-paginate{
      display: block;
   }
   .pagitane-count{
      padding-bottom: 10px;
      text-align: center;
   }
}

.pagitane-count{
   margin: 0px 16px; 
}

.paginate-item{
   margin: 0px 8px !important; 
   cursor: pointer;
}

.break-me{
   margin: 0px 8px;
   font-family: 'Work Sans', sans-serif;;
   font-size: 16px;
}

.previous {
   margin-right: 8px;
   width: 24px;
   height: 24px;
   transform: rotate(180deg);
   text-align: center;
   cursor: pointer;
}

.prev-button, .next-button {
   content: url(../../../../../assets/image/arrow.svg);
}

.prev-button:hover, .next-button:hover {
   content: url(../../../../../assets/image/arrow_active.svg);
}

.next{
   margin-left: 8px;
   width: 24px;
   height: 24px;
   text-align: center;
   cursor: pointer;
}

.active{
   padding: 0px 6px;
   height: 25px;
   background: #0064EB;
   border-radius: 3px;
   color:#ffffff;
}
